.container-gallery {
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-gallery::after {
    content: '';
    background-image: url('../images/bg-contact.png');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-gallery .title-gallery {
    text-align: center;
    padding: 1rem 5rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: #ffffff30;
    backdrop-filter: blur(1px);
    border: 1px solid #ffffff30;
    opacity: 0;
    animation: show 0.3s ease-in 0.3s forwards;
}

.container-gallery .title-gallery h1 {
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(#ffffff, #009fa8);
    background-clip: text;
    color: transparent;
}

.bar-galery {
    display: flex;
    padding-bottom: 1rem;
}

.bar-galery .bar-g {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 0.4rem 0rem;
    background: linear-gradient(#ffffff58, #00a0a85f);
    cursor: pointer;
}

.bar-galery .bar-g:hover {
    background: linear-gradient(#ffffff83, #00a0a8c5);
}

.bar-galery .active-bar {
    background: linear-gradient(#ffffff83, #00a0a8c5);
    cursor: default;
}

.container-gallery .container-card-picture {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    min-width: 300px;
    justify-content: center;
    background-color: #ffffff30;
    backdrop-filter: blur(1px);
    border: 1px solid #ffffff30;
}
.container-gallery .container-card-video {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    min-width: 300px;
    justify-content: center;
    background-color: #ffffff30;
    backdrop-filter: blur(1px);
    border: 1px solid #ffffff30;
}
.container-gallery .container-card-video iframe {
    width: 800px;
    height: 400px;
}

.lost-content {
    display: none !important;
    pointer-events: none !important;
}

.item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    filter: brightness(0.8);
    border-radius: 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-1 {
    background-image: url('../images/gallerys/jamur-bg-1.jpg');
    animation: fadeIn 0.5s ease-in 0.5s forwards;
}

.i-2 {
    background-image: url('../images/gallerys/jamur-2.png');
    animation: fadeIn 0.5s ease-in 0.8s forwards;
}

.i-3 {
    background-image: url('../images/gallerys/jamur-3.png');
    animation: fadeIn 0.5s ease-in 1.1s forwards;
}

.i-4 {
    background-image: url('../images/gallerys/jamur-4.png');
    animation: fadeIn 0.5s ease-in 1.4s forwards;
}

.i-5 {
    background-image: url('../images/gallerys/jamur-5.png');
    animation: fadeIn 0.5s ease-in 1.7s forwards;
}

.i-6 {
    background-image: url('../images/gallerys/jamur-6.png');
    animation: fadeIn 0.5s ease-in 2s forwards;
}

.i-7 {
    background-image: url('../images/gallerys/jamur-7.png');
    animation: fadeIn 0.5s ease-in 2.3s forwards;
}

.i-8 {
    background-image: url('../images/gallerys/jamur-bg-2.jpg');
    animation: fadeIn 0.5s ease-in 2.6s forwards;
}

.i-9 {
    background-image: url('../images/gallerys/jamur-1.png');
    animation: fadeIn 0.5s ease-in 2.9s forwards;
}

.i-10 {
    background-image: url('../images/gallerys/jamur-8.png');
    animation: fadeIn 0.5s ease-in 3.1s forwards;
}

.big-item {
    grid-column: span 2;
    grid-row: span 2;
}

.item-video {
    display: flex;
    grid-column: span 4;
    grid-row: span 4;
}
